.card {
    min-height: 300px; /* Asegura que las tarjetas tengan al menos esta altura */
}

.producto-imagen {
    max-height: 150px; /* Ajusta la altura máxima de la imagen */
    object-fit: contain; /* Mantiene la proporción de la imagen */
}
